.size {
  font-size: 75px;
  color: #EBF2FA;
}


.heroImg {
  background-image: url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  object-fit: fill;
}



.left {
  color: #427AA1;
}

.middle {
  color: #A5BE00;
}

.right {
  color: #679436;
}

body {
  color: #A5BE00;
}