@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body {
    font-family: 'Didact Gothic', sans-serif;
}


section {
<<<<<<< HEAD
    background-image: url("acai_bowl2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
=======
   background-image: url("img/acai_bowl.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: fill;
>>>>>>> 89ad23c163cd1978389ab8160ceabd8ecd8d24af
}

.container {
    display: block
}

.footer {
    background-color: #00d1b2;
    color: #fff;
    width: 100%;
    height: 60px;
}

header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.column {
    padding: 6px;
}

h1 {
    color: white !important;
    /* padding: 4px; */
}


h2 {
    color: white !important;
}

.notification {
    font-size: 20px;
}

.card-content {
    min-width: fit-content;
    overflow-y: auto;
    /* overflow-x: hidden; */
}