*, * ::before, *::after {
 box-sizing: border-box;
}

.hero-head {
 font-family: 'Didact Gothic', sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-family: 'Raleway', sans-serif;
}

.navbar {
 background-color: cadetblue !important;
 
}

.navbar-menu {
 font-size: 1rem;
 font-weight: bold;
}

.pairUpicon {
 max-width: 6.5rem !important;
 max-height: fit-content !important;
 object-fit: contain;
}

.hero-body {

 background: url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
 background-size: cover;
 font-family: 'Didact Gothic', sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-family: 'Raleway', sans-serif;

}


.title {
 font-size: 4rem;
 color: #0f4d19;

}

.subtitle {
 font-size: 2rem;
 color: #6fc27c;
}

.search_btn {
 border: 1.5px solid #009688;
 background-color: white;
 top:355px;
 left: 575px;

}