*, * ::before, *::after {
  box-sizing: border-box;
}

.hero-head {
  font-family: 'Didact Gothic', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}


.navbar-menu {
  font-size: 1rem;
  font-weight: bold;
}

.pairUpicon {
  max-width: 115px !important;
  max-height: fit-content !important;
  object-fit: contain;
}

/* .hero-body {

  background: url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
  background-size: cover;


} */

body {
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  font-size: 200px;
  color: #FAF9F9;
  font-family: 'Didact Gothic', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.subtitle {
  font-size: 25px;
  color: #555B6E;
}

.input {
  border: 2px solid #555B6E;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  width: 18rem;
}

.button {
  border: 2px solid #555B6E;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  width: 4rem;

}

.block {
  display: flex;
  flex-direction: row;
}